[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/gg/python.vim.git
[submodule "bundle/pylint-mode"]
	path = bundle/pylint-mode
	url = https://github.com/klen/pylint-mode.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = https://github.com/spf13/PIV.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/HTML-AutoCloseTag"]
	path = bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
